{% extends "base.html" %}
{% block page_content %}

<p> Final answer ................. </p><br>
{{query_short_answer}}
<hr>
<hr>
{{query_answer}}
<hr>

<ul>
{% for d in datas %}
  <h3><a href = "https://en.wikipedia.org/wiki/{{d.Title}}">{{d.Title}}</a></h3>
  <br>
  {{d.Summary}} 
  <br>
  <form action="{% url 'about'%}" method="get">
      <input name="query" type="hidden" value = "{{d.Title}}">
      <button type="submit" name="button"><b>Read More</b></button>
</form>
  
  <br>
  <hr>
  <hr>
  <hr>

{% endfor %}
</ul>


{% endblock %}
